@charset "UTF-8";

#servicos {
    background-color: #526370;
    font-family: Arial;
    color: #555;
    font-size: 0.75em;
    border-top-style: solid;
    border-bottom-style: solid;
    height: 500px;
    width: auto;
}

.marquee_panels {
    display: none;
}

.marquee_container {
    position: relative;
    width: 700px;
    height: 350px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    left: 125px;
    top: 75px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #999;
    border-right-color: #999;
    border-bottom-color: #999;
    border-left-color: #999;
}

.marquee_photos {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.marquee_caption {
    width: 700px;
    margin: 0px;
    padding: 15px 0px 10px 0px;
    color: #fff;
    position: absolute;
    top: 340px;
    left: 0px;
    background-image: url(../../images/template/marquee_caption.png);
    background-position: 0px 0px;
}

.marquee_caption_content {
    width: 410px;
    padding: 0px 0px 0px 25px;
}

.marquee_caption h2 {
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-size: 1.25em;
    font-weight: normal;
    text-transform: uppercase;
}

.marquee_caption p {
    margin: 0px 0px 12px 0px;
    color: #fff;
}

.marquee_caption a {
    color: #F05323;
}

.marquee_caption a:hover {
    color: #fff;
}

.marquee_nav {
    position: absolute;
    width: 240px;
    top: 310px;
    right: 20px;
    text-align: right;
}

.marquee_nav a {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    cursor: pointer;
    background-image: url(../../images/template/nav_buttons1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.marquee_nav a:hover {
    background-position: -25px 0px;
}

.marquee_nav a.selected {
    background-position: -50px 0px;
}
